# BDD PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=database
DB_USER=user
DB_PASSWORD=password

# JWT
JWT_SECRET=change_your_secret
JWT_EXPIRES_IN=24h

# Serveur
PORT=3000
NODE_ENV=development
